<div data-ebook-edit-page>
  <div>
    editing navigation goes here
  </div>
  <div class="container" id="pjax-container">
    <div>
      <%= @ebook.title %>
    </div>
    <div>
      Replacing this section with pjax
    </div>
  </div>
</div>